<div class="team-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <!-- <h3 class="display-3">Our Team</h3>
        <h4 class="lead">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <img class="img rounded" src="{{ '/assets/img/faces/Nikola_Tulechki.PNG' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Nikola Tulechki</h4>
            <!-- <p class="lead">UX Designer</p> -->
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Founder</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Open Data enthousiast</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Father of twins</h6>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-center">
                <a href="mailto:nikola.tulechki@data-for-good.bg" class="btn btn-dribbble btn-sm rounded-circle"><i class="fa fa-envelope"></i></a>
                <!-- <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle"><i class="fab fa-linkedin-in"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <img class="img rounded" src="{{ '/assets/img/faces/Rumyana_Tsoneva.png' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Rumyana Tsoneva</h4>
            <!-- <p class="lead">Team Lead</p> -->
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Co-Founder</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Data Scientist</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Political economy enthusiast</h6>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-center">
                <a href="mailto:rumyana.tsoneva@data-for-good.bg" class="btn btn-dribbble btn-sm rounded-circle"><i class="fa fa-envelope"></i></a>
                <!-- <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle"><i class="fab fa-linkedin-in"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <img class="img rounded" src="{{ '/assets/img/faces/Ivan_Danielov.PNG' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Ivan Danielov</h4>
            <!-- <p class="lead">Content Creator</p> -->
            <div class="table-responsive">
              <ul class="list-unstyled">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Co-Founder</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Data Scientist</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Rock guitarist</h6>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-center">
                <a href="mailto:ivan.danielov@data-for-good.bg" class="btn btn-dribbble btn-sm rounded-circle"><i class="fa fa-envelope"></i></a>
                <a href="https://www.linkedin.com/in/ivandanielov/" class="btn btn-twitter btn-sm rounded-circle" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <img class="img rounded" src="{{ '/assets/img/faces/Elvan_Aydemir.PNG' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Elvan Aydemir</h4>
            <!-- <p class="lead">UX Designer</p> -->
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Co-Founder</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Data Scientist</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Nerd Climber</h6>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-center">
                <a href="mailto:elvan.aydemir@data-for-good.bg" class="btn btn-dribbble btn-sm rounded-circle"><i class="fa fa-envelope"></i></a>
                <a href="https://www.linkedin.com/in/aelvangunduz/" class="btn btn-twitter btn-sm rounded-circle" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <img class="img rounded" src="{{ '/assets/img/faces/Magdalena_Petrova.PNG' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Magdalena Petrova</h4>
            <!-- <p class="lead">Team Lead</p> -->
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Co-Founder</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Data Viz Wiz</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Traveler</h6>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-center">
                <a href="mailto:magdalena.petrova@data-for-good.bg" class="btn btn-dribbble btn-sm rounded-circle"><i class="fa fa-envelope"></i></a>
                <a href="https://www.linkedin.com/in/maggiepetrova/" class="btn btn-twitter btn-sm rounded-circle" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://twitter.com/petrovamagi" class="btn btn-twitter btn-sm rounded-circle" target="_blank"><i class="fab fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <img class="img rounded" src="{{ '/assets/img/faces/Hristina_Koleva.PNG' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Hristina Taneva</h4>
            <!-- <p class="lead">Team Lead</p> -->
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Project Manager</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Forecaster & Perfectionist</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Passionate trip planner</h6>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-center">
                <a href="mailto:hristina.koleva@data-for-good.bg" class="btn btn-dribbble btn-sm rounded-circle"><i class="fa fa-envelope"></i></a>
                <a href="https://www.linkedin.com/in/hristina-taneva-b8a54372" class="btn btn-twitter btn-sm rounded-circle" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>