{{ $class := .Attributes.class | default ""    }}
{{ $lang  := .Attributes.lang  | default .Type }}

{{ if eq $lang "json:vega-light" }}

<div class="chart-container">
  <div id="vis{{md5 .Inner}}"></div>
</div>

<script>
function init() {
    var vlSpec ={{ .Inner }};
    vlSpec = vlSpec.replaceAll('\r', '');
    vlSpec = vlSpec.replaceAll('\n', '');
    vlSpec =  JSON.parse(vlSpec);

    var containers = document.getElementsByClassName('chart-container');
    if (containers.length) {
        vlSpec.width = containers[0].offsetWidth - 80;
    }

    vegaEmbed('#vis{{md5 .Inner}}', vlSpec);
}

init();
window.addEventListener('resize', init);
</script>



{{ else if transform.CanHighlight $lang }}
<div class="{{ $class }}">{{ highlight .Inner $lang }}</div>
{{else}}
<pre><code class="{{ $class }}">{{.Inner}}</code></pre>
{{end}}
