<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3">Data for Good - Bulgaria</h3>
          <p class="lead mt-0">We support the representatives of the civil sector who work to solve problems for significant public benefit by providing know-how and services related to data processing and analysis.</p>
          <br>
<!--          <div class="buttons">-->
<!--            <a href="/blog" class="btn btn-primary">-->
<!--              Read our blog-->
<!--            </a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</header>
  

<div class="section features-6">
  <h2>What we do</h2>
  <p>In a world where most decisions are automated through data, there is ever growing
  need for understanding and transparency. We help NGOs and governments become data
  literate and data-driven in their decision making while actively developing and
  promoting ethical data practices and guidelines. We use our skills to build projects
  that have real, positive impact on social good. See our portfolio page and case studies
  to better understand what we do.</p>

  <h2>For Volunteers</h2>
  <p>We welcome everyone who wants to use their data skills to help us build a better
  world. We help our partner NGOs develop data driven solutions as well as build
  internal projects of our own. Volunteers from all skill levels are welcome. There
  is a place for everyone and you will be placed in an environment suitable to your
  level to collaborate with and learn from experienced volunteers.</p>
  <p>If you are interested, please fill in the contact form below and we will reach
  out as soon as possible!</p>

  <h2>For Beneficiaries</h2>
  <p>If you represent an NGO looking to solve a challenge for the public benefit using data,
  we will help you organize, analyze and understand your data. We help you understand the
  data requirements of your project, develop a data acquisition and protection strategy and
  link you with volunteers who can bring your vision to life.</p>

  </div>

  <div class="section features-6">
  <h2>Our process</h2>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-bulb-61 text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">Scope the Challenge</h5>
              <p>We approach your challenge from the lens of data to understand.
                the data and solution requirements. Our main objective is to help you make a positive
                lasting impact, understanding the challenge inside-out is our first step.</p>
              <!-- <a href="#" class="text-info">Learn more</a> -->
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-app text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">Data Collection & Processing Strategy</h5>
              <p>We understand social problems come with
                sensitive information. In many cases, data acquisition and processing is even harder
                than a standard data project. We carefully design data collection strategy and curate
                data sources where needed. We help beneficiaries build an understanding of these
                concepts while actively building projects.</p>
              <!-- <a href="#" class="text-info">Learn more</a> -->
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-delivery-fast text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">Project Development & Delivery</h5>
              <p>We match you with volunteers to build the designed
                solution. We actively work with beneficiaries to make sure we are working towards the
                same goal. We provide the technical resources and services, while the project is
                managed jointly by the beneficiary and DfG.</p>
              <!-- <a href="#" class="text-info">Learn more</a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-10 mx-md-auto">
          <img class="ml-lg-5" src="{{ '/assets/img/ill/ill.png' | relative_url }}" width="100%">
        </div>
      </div>
    </div>
  </div>

  <div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <span class="badge badge-primary badge-pill mb-3">Contribution</span>
          <h3 class="display-3">Main areas of activity</h3>
          <p class="lead">We in Data for Good - Bulgaria are ready to help with any data related challenges which are good for the public. Here are the most prominant areas where our skills bring the most positive impact.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
              <i class="fa fa-book"></i>
            </div>
            <h6 class="info-title text-uppercase text-primary">Education</h6>
            <p class="description opacity-8">We strongly believe that the key to securing the future of society is high quality education accessible to every person. That is why it is our priority to help organizations working for improving the quality and accessibility of education.
            </p>
            <!-- <a href="javascript:;" class="text-primary">Our contribution to education -->
              <i class="ni ni-bold-right text-primary"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
              <i class="fa fa-tree"></i>
            </div>
            <h6 class="info-title text-uppercase text-success">Environment</h6>
            <p class="description opacity-8">The preservation of waters, forests and mountains is extremely important for maintaining the biodiversity and the long-term co-existance of humans and nature. That is why we help organizations working for the protection of the natural environment and the investigation of global and local risk factors.</p>
            <!-- <a href="javascript:;" class="text-primary">Our contribution to the environment -->
              <i class="ni ni-bold-right text-primary"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
              <i class="fa fa-group"></i>
            </div>
            <h6 class="info-title text-uppercase text-warning">Democracy</h6>
            <p class="description opacity-8">Ensuring the good functioning of the democratic processes is paramount for improving the quality of life in the society. That is why we help organizations which monitor and correct the processes related to freedom of speech, transparency and all other aspects of the democratic society.</p>
            <!-- <a href="javascript:;" class="text-primary">Our contribution to democracy -->
              <i class="ni ni-bold-right text-primary"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--  <div class="section features-1">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-8 mx-auto text-center">-->
<!--          <h3 class="display-3">How can we help?</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-md-4">-->
<!--          <div class="info">-->
<!--            <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">-->
<!--              <i class="ni ni-settings-gear-65"></i>-->
<!--            </div>-->
<!--            <h6 class="info-title text-uppercase text-primary">Provide Resources</h6>-->
<!--            <p class="description opacity-8">We bring volunteers of our own to your cause to help you work through your problems.</p>-->
<!--            <a href="javascript:;" class="text-primary">More about us-->
<!--              <i class="ni ni-bold-right text-primary"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--          <div class="info">-->
<!--            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">-->
<!--              <i class="ni ni-atom"></i>-->
<!--            </div>-->
<!--            <h6 class="info-title text-uppercase text-success">Increase Efficiency</h6>-->
<!--            <p class="description opacity-8">By automating processes and developing data-driven solutions,-->
<!--              we free-up the time of your internal resources to work on more meaningful tasks.</p>-->
<!--            <a href="javascript:;" class="text-primary">Learn about our products-->
<!--              <i class="ni ni-bold-right text-primary"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--          <div class="info">-->
<!--            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">-->
<!--              <i class="ni ni-world"></i>-->
<!--            </div>-->
<!--            <h6 class="info-title text-uppercase text-warning">Bigger Impact</h6>-->
<!--            <p class="description opacity-8">Effective data processing enables ingestion of more information and-->
<!--              help beneficiaries discover where they can have more impact. Automation expands your-->
<!--              capacity and coverage to reach more people and cases.</p>-->
<!--            <a href="javascript:;" class="text-primary">Check our documentation-->
<!--              <i class="ni ni-bold-right text-primary"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-md-8 mx-auto text-center">-->
<!--          <p class="lead">Interested? Please fill out the form below to find out more on how we can help you (and everyone else).</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <br><br>
<!--  <section class="pricing-5 fullWidth" id="pricing-6" style="background-image: url('{{ '/assets/img/ill/bg_pricing5.svg' | relative_url }}');">-->
<!--    <div class="container pt-5">-->
<!--      <div class="row">-->
<!--        <div class="col-md-4 d-flex justify-content-center flex-column">-->
<!--          <h3 class="display-3 mt-3">Choose a plan for your next project</h3>-->
<!--          <ul class="nav nav-pills nav-pills-primary my-4" role="tablist">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link active" data-toggle="tab" href="#commercial" role="tablist">-->
<!--                Cheaper-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" data-toggle="tab" href="#personal" role="tablist">-->
<!--                Expensive-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <p class="lead mt-0">You have Free Unlimited Updates and Premium Support on each package. You also have 20 days to request a refund.</p>-->
<!--        </div>-->
<!--        <div class="col-lg-7 col-md-8 ml-auto mr-auto">-->
<!--          <div class="tab-content tab-space">-->
<!--            <div class="tab-pane" id="personal">-->
<!--              <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                  <div class="card card-pricing bg-white border-0 text-center mb-4">-->
<!--                    <div class="card-header bg-transparent">-->
<!--                      <h6 class="text-uppercase ls-1 py-3 mb-0">Gold</h6>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                      <div class="display-2">$100</div>-->
<!--                      <span>per month</span>-->
<!--                      <ul class="list-unstyled my-4">-->
<!--                        <li class="align-items-center">-->
<!--                          <b class="text-primary">200GB</b> <span>File Storage</span>-->
<!--                        </li>-->
<!--                        <li class="align-items-center">-->
<!--                          <b class="text-primary">Unlimited</b> <span>Users</span>-->
<!--                        </li>-->
<!--                        <li class="align-items-center">-->
<!--                          <b class="text-primary">Premium</b> <span>Support</span>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                    <div class="card-footer bg-transparent">-->
<!--                      <a href="#!">Request a demo</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="card card-pricing bg-white border-0 text-center mb-4">-->
<!--                    <div class="card-header bg-transparent">-->
<!--                      <h6 class="text-uppercase ls-1 py-3 mb-0">Platinum</h6>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                      <div class="display-2">$135</div>-->
<!--                      <span>per month</span>-->
<!--                      <ul class="list-unstyled my-4">-->
<!--                        <li class="align-items-center">-->
<!--                          <b class="text-primary">500GB</b> <span>File Storage</span>-->
<!--                        </li>-->
<!--                        <li class="align-items-center">-->
<!--                          <b class="text-primary">Unlimited</b> <span>Users</span>-->
<!--                        </li>-->
<!--                        <li class="align-items-center">-->
<!--                          <b class="text-primary">No time</b> <span>Tracking</span>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                    <div class="card-footer bg-transparent">-->
<!--                      <a href="#!">Request a demo</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--&lt;!&ndash;            <div class="tab-pane active" id="commercial">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="card card-pricing bg-white border-0 text-center mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="card-header bg-transparent">&ndash;&gt;-->
<!--&lt;!&ndash;                      <h6 class="text-uppercase ls-1 py-3 mb-0">Standard</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="display-2">$25</div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span>per month</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <ul class="list-unstyled my-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <b class="text-primary">20GB</b> <span>File Storage</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <b class="text-primary">15</b> <span>Users</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <b class="text-primary">false</b> <span>Support</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                      </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="card-footer bg-transparent">&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#!">Request a demo</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="card card-pricing bg-white border-0 text-center mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="card-header bg-transparent">&ndash;&gt;-->
<!--&lt;!&ndash;                      <h6 class="text-uppercase ls-1 py-3 mb-0">Premium</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="display-2">$59</div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span>per month</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <ul class="list-unstyled my-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <b class="text-primary">50GB</b> <span>File Storage</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <b class="text-primary">100</b> <span>Users</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <b class="text-primary">Premium</b> <span>Support</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                      </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="card-footer bg-transparent">&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#!">Request a demo</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
