<div class="contactus-3 fullWidth">
    <div class="page-header">
        <img class="bg-image" src="{{ '/assets/img/ill/bg_contactus3.svg' | relative_url }}" alt="">
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h1 class="display-1">За доброволци</h1>
        <h2 class="lead">Желаещите да се включат като доброволци в проектите на „Данни за добро“ могат да изявят своето желание като попълнят формуляра за записване.</h2>
        <button href="https://forms.gle/WotfVqbGnNqNBVVE8" type="button" class="btn btn-primary text-uppercase">Запиши се</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h1 class="display-1">Имате въпроси?</h1>
        <h2 class="lead">Пишете ни на електронната поща: <a href="mailto:info@data-for-good.bg">info@data-for-good.bg</a></h2>
      </div>
    </div>
  </div>
</div>