<div class="contactus-3 fullWidth">
    <div class="page-header">
        <img class="bg-image" src="{{ '/assets/img/ill/bg_contactus3.svg' | relative_url }}" alt="">
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h1 class="display-1">For volunteers</h1>
        <h2 class="lead">If you are interested to become a volunteer, please fill in the contact form below. We will reach out to you as soon as possible!</h2>
        <button onclick="window.open('https://forms.gle/Ep6UApUAF3gVuxMBA', '_blank');" rel="nofollow" type="button" class="btn btn-primary text-uppercase">Become a volunteer</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h1 class="display-1">Got a question?</h1>
        <h2 class="lead">Drop us an e-mail at <a href="mailto:info@data-for-good.bg">info@data-for-good.bg</a></h2>
      </div>
    </div>
  </div>
</div>