<div class="py-3">
  {{ $lang := cond (eq .Lang "en") "en" "" }}
  {{ $path :=  path.Join $lang}}
  {{ $outlined := cond (strings.Contains $path (trim $.Page.RelPermalink "/")) "" "-outline" }}
  {{ if not (isset $.Params "categories") }}
  <a href="{{ site.BaseURL }}{{ $path }}" class="btn btn-sm btn{{ $outlined }}-black border-2 px-3 text-uppercase my-1">
    {{ i18n "allProjects" }}
  </a>
  {{ else }}
    {{ if and (isset .Params "categories") (eq (len .Params.categories) 1) }}
      {{ i18n "category" }}:
    {{ else }}
      {{ i18n "categories" }}:
    {{ end }}
  {{ end }}

  {{ range $key, $value := .Site.Taxonomies.categories }}
    {{ $color := cond (eq $key "democracy") "cyan" (cond (eq $key "environment") "green" (cond (eq $key "cultural-heritage") "purple" "orange")) }}
    {{ $path :=  path.Join $lang "categories" $key }}
    {{ $outlined := cond (or
      (and
        (not (eq (trim (path.Join $lang) "/") (trim $.Page.RelPermalink "/")))
        (strings.Contains $path (trim $.Page.RelPermalink "/"))
      )
      (and
        (isset $.Params "categories")
        (in $.Params.categories $key)
      )
    ) "" "-outline" }}
    <a href="{{ site.BaseURL }}{{ $path }}" class="btn btn-sm btn{{ $outlined }}-{{ $color }} border-2 px-3 text-uppercase my-1">
      {{ i18n $key }}
    </a>
  {{ end }}
</div>