<div style="width: 100%;">
  <h2 class="h5 text-uppercase mb-0 mt-2">{{ i18n "ourApps" }}</h1>
  <hr class="border-top border-3 border-black opacity-100 my-1">
  <div class="py-3">
    <a href="{{ site.BaseURL }}/sebra" class="btn btn-sm btn-outline-cyan border-3 px-3 my-1">
      {{ i18n "sebra" }}
    </a>
    <a href="{{ site.BaseURL }}/sofia-kindergartens" class="btn btn-sm btn-outline-orange border-3 px-3 my-1">
      {{ i18n "kindergartens" }}
    </a>
    <a href="{{ site.BaseURL }}/maturi" class="btn btn-sm btn-outline-orange border-3 px-3 my-1">
      {{ i18n "maturi" }}
    </a>
  </div>
</div>