@font-face{
  font-family:"SofiaSansRegular";
  src:url("../fonts/SofiaSans-Regular.eot");
  src:url("../fonts/SofiaSans-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/SofiaSans-Regular.woff2") format("woff2"),url("../fonts/SofiaSans-Regular.woff") format("woff"),url("../fonts/SofiaSans-Regular.ttf") format("truetype"),url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight:normal;
  font-style:normal
}