<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
        <script type="text/javascript">
            function initViz() {
                var containerDiv = document.getElementById("vizContainer"),
<!--                    url = "https://public.tableau.com/views/BulgariaCOVID-19Dashboard/BGCOVID-19",-->
                    url = "https://public.tableau.com/views/SEBRAdashboard/Story",
                    options = {
                        hideTabs: false,
                        onFirstInteractive: function () {
                            console.log("Run this code when the viz has finished loading.");
                        }
                    };

                var viz = new tableau.Viz(containerDiv, url, options);
                // Create a viz object and embed it in the container div.
            }
        </script>
    </head>
    <body onload="initViz();">
        <div id="vizContainer"></div>
    </body>
</html>
