<body onload="ChangeClass(); initViz();">

    <div id="vizContainer" style="width:1400px; height:800px; margin:auto;"></div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
            
            <p>
                Повече информация за визуализацията може да прочетете в нашия <a href="https://data-for-good.bg/blog/sofia-kindergartens-2021-2022">блог</a>.
            </p>
            <p>
                Всички налични данни обобщени и използвани в приложението са достъпни в мaшинночетим формат като
                <a href="https://docs.google.com/spreadsheets/d/1dKUV7q9GlrIgsWbw6DNhkjjFFjY-aNnDOtEcM7ZC4Gk/export?format=xlsx">XLSX</a>
            </p>
            <p>
                Суровите данни предоставени от Столична община в отговор на запитвания по ЗДОИ са достъпни <a href="https://drive.google.com/drive/folders/1jQDSzg3rYrBJ6kXaqHGMOQdr76l0yRC7?usp=sharing">тук</a>.
            </p>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
	<script type="text/javascript">
	    function ChangeClass() {
		    document.getElementById("main").className = "container-fluid";
		}
	</script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://public.tableau.com/views/SofiaKindergartens20212022/SofiaKindergartens",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };

            var viz = new tableau.Viz(containerDiv, url, options);
            // Create a viz object and embed it in the container div.
        }
    </script>
</body>
